body, html {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 1280px;
    margin: auto;
    min-height: 100%;
    font-family: sans-serif;
}

@media screen and (max-width: 1280px) {
    body {
        width: 100%;
    }
}

header {
    line-height: 8vw;
    position: relative;
    z-index: 1;
}

header label h1 {
    text-align: center;
    margin: 0;
    font-size: 5vw;
    user-select: none;
}

header::after {
    z-index: -1;
    display: block;
    position: relative;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: -150px;
    height: 200px;
    width: auto;
    content: '';
}

#shopping-cart-btn {
    width: 8vw;
    height: 8vw;
    position: absolute;
    right: 5px;
    top: 0;

    background: transparent url("shopping-cart.png") no-repeat;
    background-size: contain;
    border: none;
    outline: none;

    transition: all .2s ease-in-out;
    cursor: pointer;
}

#shopping-cart-btn:hover {
    transform: scale(1.05);
}

#back-btn {
    width: 8vw;
    height: 8vw;
    position: absolute;
    left: 5px;
    top: 8px;

    background: transparent url("goback.png") no-repeat;
    background-size: 80%;
    border: none;
    outline: none;

    transition: all .2s ease-in-out;
    cursor: pointer;
}

#back-btn:hover {
    transform: scale(1.05);
}

#instruction label * {
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    user-select: none;
}

.bg {
    background: url("art_background.jpg") no-repeat fixed;
    background-size: 100%;
}

#start {
    text-align: center;
}

#start-btn {
    margin-top: 100px;
    border-radius: 25px;
    padding: 0 15px 0 15px;
    background: linear-gradient(to bottom,
    rgba(0, 140, 186, 0) 0%,
    rgba(0, 140, 186, 0) 50%,
    rgba(0, 140, 186, 1) 50%,
    rgba(0, 140, 186, 1) 100%) no-repeat;
    background-size: 100% 200%;
    border: solid medium #008CBA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-out;
    cursor: pointer;
}

#start-btn:hover {
    background-position: 0 100%;
    color: white;
}

article {
    width: auto;

    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

article::-webkit-scrollbar {
    display: none;
}

section {
    padding: 5px;
    height: 375px;
    width: 375px;
    margin: 30px;
    box-sizing: border-box;
}

section img {
    transition: all .2s ease-in-out;
    max-width: 100%;
    height: 100%;
}

section img:hover {
    transform: scale(1.05);
}

#ingredients-form {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}
#ingredients-form tbody {
    overflow: auto;
    height: 30vh;
    display: block;
}

#ingredients-form table {
    text-align: center;
    width: 100%;
    padding-left: 20px;
}
#ingredients-form tbody::-webkit-scrollbar {
    width: 1em;
}

#ingredients-form tbody::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
}

#ingredients-form tbody::-webkit-scrollbar-thumb {
    background-color: #008CBA;
    outline: 1px solid black;
    border-radius: 15px;
}
#ingredients-form ul label {
    user-select: none;
}

#order-form label {
    line-height: 25px;
}

#order-form label input {
    float: right;
}

#order-form button {
    margin-top: 20px;
}

footer {
    width: auto;
    line-height: 8vw;
    position: relative;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    z-index: 1;
}

footer p {
    text-align: center;
    padding: 0;
    margin: 0;
    user-select: none;
}

#flyoutMenu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    color: #FFFFFF;
    top: 0;
    left: 0;
    transform: translate3d(100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    z-index: 1;
}

#transparentMenu {
    width: 60vw;
    height: 100vh;
    float: left;
}

.warenkorb {
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
    width: 40vw;
    background-color: #868686;
    margin-top: 1vh;
    height: 98vh;
    float: right;
    word-break: break-all;
}

.shp-cart-content {
    table-layout: fixed;
    white-space: nowrap;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    text-align: left;
}
.shp-cart-content td {
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: sub;
}

.shp-cart-row {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: solid thin black;
}

.shp-cart-row td {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.shp-cart-row-count {
    width: 10%;
}
.shp-cart-row-name {
    width: 32%;
}
.shp-cart-row-singleprice {
    width: 20%;
}
.shp-cart-row-price {
    width: 18%;
}
.shp-cart-row-delete {
    width: 20%;
}
.shp-cart-endrow td {
    margin-bottom: 0;
    padding: 0;
    border-top: solid thin black;
}

.shp-cart-wholeprice {
    font-size: larger;
}
.shp-cart-btn {
    text-align: center;
    margin: 5px;
    float: none;
    position: absolute;
    bottom: 2em;
    right: 10px;
}
.shp-cart-btn button {
    border-radius: 25px;
    padding: 0 15px 0 15px;
    background: linear-gradient(to bottom,
 rgba(255, 255, 255, 1) 0%,
 rgba(255, 255, 255, 1) 50%,
 rgba(0, 140, 186, 1) 50%,
 rgba(0, 140, 186, 1) 100%) no-repeat;
    background-size: 100% 200%;
    border: solid medium #008CBA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-out;
    cursor: pointer;
}
.shp-cart-btn button:hover {
    background-position: 0 100%;
    color: white;
}

.shp-desc-container p {

}
#price-tag {
    float: right;
    display: block;
    font-size: 1.05em;
    font-weight: bold;
    margin: 5px;
}
#ship-cart-total {
    display: block;
    font-size: 1.05em;
    font-weight: bold;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: left;
}
#ship-cart-total p {

}

#shipping-form  {
    margin-top: 5px;
}
#shipping-form table h3 {
    display: block;
    font-size: 1.05em;
    font-weight: bold;
    margin: 0;
}
#shipping-form table input {
    display: block;
    font-size: 1.05em;
    font-weight: bold;
    margin: 0;
}

#shipping-form td {
    padding-top: 3px;
    font-size: medium;
}
#shipping-form button {
    margin-top: 25px;
    border-radius: 25px;
    padding: 0 15px 0 15px;
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 140, 186, 1) 50%,
    rgba(0, 140, 186, 1) 100%) no-repeat;
    background-size: 100% 200%;
    border: solid medium #008CBA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-out;
    cursor: pointer;
}
#shipping-abort  {
    width: 30%;
}

.payment-container  {
    margin-top: 25px;
    width: 100%;
}
.payment-container  {
    margin-top: 25px;
    width: 100%;
}
.payment-container label {
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    background: linear-gradient(to bottom,
 rgba(255, 255, 255, 1) 0%,
 rgba(255, 255, 255, 1) 50%,
 rgba(0, 140, 186, 1) 50%,
 rgba(0, 140, 186, 1) 100%) no-repeat;
    background-size: 100% 200%;
    border: solid medium #008CBA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-out;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.payment-container label:hover {
    background-position: 0 100%;
    color: white;
}

.payment-container input:checked {
    background-color: #008CBA;
}

.payment-container input {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid grey;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

#shipping-order  {
    width: 60%;
    margin-right:5%;
}

#shipping-form button:hover {
    background-position: 0 100%;
    color: white;
}

.shp-cart-art-row button {
    margin-top: 3px;
    margin-bottom: 3px;

    font-size: 0.95em;

    border-radius: 10px;
    background: linear-gradient(to bottom,
 rgba(255, 255, 255, 1) 0%,
 rgba(255, 255, 255, 1) 50%,
 rgba(0, 140, 186, 1) 50%,
 rgba(0, 140, 186, 1) 100%) no-repeat;
    background-size: 100% 200%;
    border: solid medium #008CBA;
   <!-- box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); -->
    transition: all .2s ease-out;
    cursor: pointer;

}
.shp-cart-art-row button:hover {
    background-position: 0 100%;
    color: white;
}

.warenkorb h1 {
    text-align: center;
}

/* Tooltip container */
.tooltip {
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.checkbox-custom {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid grey;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.checkbox-custom:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.69);
}

.checkbox-custom:checked {
    background-color: #008CBA;
}
.ingredient-label {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 20px;
    font-size: 1.05em;
    font-weight: bold;
}
.art-span {
    height: 100px;
    display: flex;
}

.art-span h3{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 20px;
}

.shp-cart-btn-box {
    text-align: center;

}
.shp-cart-btn-box select {
    padding: 15px 10px 15px 10px;
    margin-right: 20px;
    font-size: 1.0em;
    font-weight: bold;
}

.shp-cart-btn-box button, select {
    border-radius: 25px;
    padding: 0 15px 0 15px;
    background: linear-gradient(to bottom,
    rgba(0, 140, 186, 0) 0%,
    rgba(0, 140, 186, 0) 50%,
    rgba(0, 140, 186, 1) 50%,
    rgba(0, 140, 186, 1) 100%) no-repeat;
    background-size: 100% 200%;
    border: solid medium #008CBA;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all .2s ease-out;
    cursor: pointer;
}

#addToCart:hover {
    background-position: 0 100%;
    color: white;
}